<a href="https://colab.research.google.com/github/tubagus86/IYKRA-Fellowship/blob/master/Market_Basket_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [57]:
# membaca dataset

mba = pd.read_excel('Online Retail.xlsx')
mba

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [58]:
mba.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [59]:
mba.dropna(axis=0, subset=['InvoiceNo'], inplace=True)
mba['InvoiceNo'] = mba['InvoiceNo'].astype('str')
mba = mba[~mba['InvoiceNo'].str.contains('C')]

In [60]:
mba.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     134697
Country             0
dtype: int64

In [61]:
market_basket = mba[mba['Country'] =="United Kingdom"].groupby(
                ['InvoiceNo', 'Description'])['Quantity']

market_basket.head()

0          6
1          6
2          8
3          6
4          6
          ..
541889    12
541890     8
541891    24
541892    24
541893    10
Name: Quantity, Length: 486138, dtype: int64

In [62]:
market_basket = market_basket.sum().unstack().reset_index().fillna(0).set_index('InvoiceNo')

In [63]:
market_basket.head()

Description  20713  ...  wrongly sold sets
InvoiceNo           ...
536365         0.0  ...                0.0
536366         0.0  ...                0.0
536367         0.0  ...                0.0
536368         0.0  ...                0.0
536369         0.0  ...                0.0

[5 rows x 4188 columns]

In [64]:
def encode_data(datapoint):
    if datapoint <= 0:
        return 0
    if datapoint >= 1:
        return 1

In [65]:
market_basket = market_basket.applymap(encode_data)

In [66]:
itemsets = apriori(market_basket, min_support=0.03, use_colnames=True)

In [67]:
rules = association_rules(itemsets, metric="lift", min_threshold=0.5)

In [68]:
rules.head()

                          antecedents  ... conviction
0        (ALARM CLOCK BAKELIKE GREEN)  ...   2.659296
1         (ALARM CLOCK BAKELIKE RED )  ...   2.415149
2   (GREEN REGENCY TEACUP AND SAUCER)  ...   2.517724
3    (PINK REGENCY TEACUP AND SAUCER)  ...   5.300218
4  (ROSES REGENCY TEACUP AND SAUCER )  ...   3.551247

[5 rows x 9 columns]

In [69]:
rules[ (rules['lift'] >= 14) &
       (rules['confidence'] >= 0.7) ]

                          antecedents  ... conviction
3    (PINK REGENCY TEACUP AND SAUCER)  ...   5.300218
4  (ROSES REGENCY TEACUP AND SAUCER )  ...   3.551247
5   (GREEN REGENCY TEACUP AND SAUCER)  ...   3.803087

[3 rows x 9 columns]