<a href="https://colab.research.google.com/github/tubagus86/IYKRA-Fellowship/blob/master/Market_Basket_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [44]:
# membaca dataset

mba = pd.read_excel('Online Retail.xlsx')
mba

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [3]:
mba.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [4]:
mba.dropna(axis=0, subset=['InvoiceNo'], inplace=True)
mba['InvoiceNo'] = mba['InvoiceNo'].astype('str')
mba = mba[~mba['InvoiceNo'].str.contains('C')]

In [5]:
mba.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     134697
Country             0
dtype: int64

In [31]:
market_basket = mba[mba['Country'] =="France"].groupby(
                ['InvoiceNo', 'Description'])['Quantity']

market_basket.head()

26        24
27        24
28        12
29        12
30        24
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 8408, dtype: int64

In [32]:
market_basket = market_basket.sum().unstack().reset_index().fillna(0).set_index('InvoiceNo')

In [33]:
market_basket.head()

Description   50'S CHRISTMAS GIFT BAG LARGE  ...  ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo                                    ...
536370                                  0.0  ...                              0.0
536852                                  0.0  ...                              0.0
536974                                  0.0  ...                              0.0
537065                                  0.0  ...                              0.0
537463                                  0.0  ...                              0.0

[5 rows x 1564 columns]

In [34]:
def encode_data(datapoint):
    if datapoint <= 0:
        return 0
    if datapoint >= 1:
        return 1

In [35]:
market_basket = market_basket.applymap(encode_data)

In [39]:
itemsets = apriori(market_basket, min_support=0.07, use_colnames=True)

In [40]:
rules = association_rules(itemsets, metric="lift", min_threshold=0.5)

In [43]:
rules.head()

                    antecedents  ... conviction
0  (ALARM CLOCK BAKELIKE GREEN)  ...   3.791383
1   (ALARM CLOCK BAKELIKE PINK)  ...   3.283859
2  (ALARM CLOCK BAKELIKE GREEN)  ...   4.916181
3   (ALARM CLOCK BAKELIKE RED )  ...   5.568878
4  (ALARM CLOCK BAKELIKE GREEN)  ...   1.783673

[5 rows x 9 columns]